 html {
	position: relative;
	min-height: 100%;
	width: 100%;
	background-image: linear-gradient(red, orange, blue);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}
body {
  text-align: center;
  margin: 0 auto;
  font-size: 33px;
  min-height: 100%;
  }
main {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: auto;
}
h1 {
	font-size: 40px;
	margin: 30px auto;
}
h3 {
	font-size: 28px;
	margin: 10px auto;
}
p {
	line-height: 110%;
	overflow: auto;
}
input {
	padding: 3px 2px;
}
#container {
	width: 40%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#cel {
  float: right;
  margin-right: 10%;
  width: 25%;
  font-size: 25px;
}
#fahResult {
  float: right;
  margin-right: 10%;
  width: 25%;
  font-size: 25px;
}
#celResult {
  float: right;
  margin-right: 10%;
  width: 25%;
  font-size: 25px;
}
#fah {
  float: right;
  margin-right: 10%;
  width: 25%;
  font-size: 25px;
}
#c-to-f {
  width: 100%;
  margin: 30px auto;
  padding: 10px 0;
  background-color: #fff;
}
#f-to-c {
  width: 100%;
  margin: 20px auto 0;  
  padding: 10px 0;   
  background-color: #fff;
}
  /*  media queries  */
@media only screen and (max-width: 1100px ) {
body {
  font-size: 22px;
}
h1 {
	font-size: 32px;
	margin: 20px auto;
}
h3 {
	font-size: 20px;
	margin: 10px auto;
}
#cel {
    margin-right: 5%;
    font-size: 18px;
	width: 28%;
}
#fahResult {
    margin-right: 5%;
    font-size: 18px;
	width: 28%;
}
#fah {
    margin-right: 5%;
    font-size: 18px;
	width: 28%;
}
#celResult {
    margin-right: 5%;
    font-size: 18px;
	width: 28%;
}
}
@media only screen and (max-width: 670px) {
body {
  font-size: 16px;
}
h1 {
	font-size: 27px;
	margin: 20px auto;
}
h3 {
	font-size: 17px;
	margin: 10px auto;
}
#container {
	width: 80%;
}
#cel {
    margin-right: 5%;
    font-size: 16px;
	width: 28%;
}
#fahResult {
    margin-right: 5%;
    font-size: 16px;
	width: 28%;
}
#fah {
    margin-right: 5%;
    font-size: 16px;
	width: 28%;
}
#celResult {
    margin-right: 5%;
    font-size: 16px;
	width: 28%;
}
}
@media only screen and (max-width: 670px ) and (orientation: landscape) {
h1 {
	margin: 20px auto 10px;
}
#c-to-f {
  margin: 15px auto;
}
#f-to-c {
   margin: 10px auto 0;    
}
}
@media only screen and (max-width: 1000px){
#container {
	width: 45%;
}
}
@media only screen and (max-width: 750px){
#container {
	width: 50%;
}
}
@media only screen and (max-width: 600px) {
#container {
	width: 60%;
}
}
@media only screen and (max-width: 500px) {
#container {
	width: 80%;
}
}
@media only screen and (min-width: 1600px){
	#container {
		width: 35%;
	}
}