 html {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(red, orange, blue);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}
body {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    min-height: 100%;
  }
main {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow: auto;
}
h1 {
	font-size: 27px;
	margin: 30px auto;
}
h3 {
	font-size: 18px;
	margin: 10px auto;
}
p {
	line-height: 110%;
}
input {
	width: 40%;
	font-size: 14px;
	padding: 3px 4px;
	border: 2px solid #bbb;
}
input:focus {
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#container {
	width: 85%;
	margin: 0 auto 100px;
	padding: 0;
}
.section {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#c-to-f {
	text-align: left;
    width: 100%;
    margin: 30px auto;
    padding: 10px 0;
    background-color: #fff;
}
#f-to-c {
	text-align: left;
    width: 100%;
    margin: 20px auto 0;  
    padding: 10px 0;   
    background-color: #fff;
}
/*  media queries  */
@media only screen and (min-width: 370px) {
	#container {
		width: 75%;
	}
}
@media only screen and (min-width: 450px) {
	#container {
		width: 65%;
	}
}
@media only screen and (min-width: 600px) {
	#container {
		width: 53%;
	}
	.section {
	    width: 80%;
    }
}
@media only screen and (min-width: 768px) {
	#container {
		width: 43%;
	}
}
@media only screen and (min-width: 992px) {
	#container {
	    width: 35%;
	}
}
@media only screen and (min-width: 1200px) {
	body {
        font-size: 23px;
    }
	#container {
	    width: 40%;
	}
    h1 {
	    font-size: 40px;
    }
    h3 {
	    font-size: 28px;
    }
	input {
		font-size: 20px;
	}
}
@media only screen and (min-width: 1300px) {
	#container {
		width: 35%;
	}
}
@media only screen and (min-width: 1500px) {
	main {
		width: 90%;
	}
}
@media only screen and (min-width: 1800px) {
	main {
		width: 80%;
	}
}
@media only screen and (min-width: 2000px) {
	main {
		width: 70%;
	}
}